SQL_DSN=postgresql://REPLACE_DB_USER:REPLACE_DB_PASSWORD@host.containers.internal:5432/new_api?sslmode=disable
REDIS_CONN_STRING=redis://:REPLACE_REDIS_PASSWORD@host.containers.internal:6379
TZ=Asia/Shanghai
BATCH_UPDATE_ENABLED=true
